.AllCurrencyTable {
  width: 100%;
  margin-top: 50px;
  input {
    width: 120px;
    padding-left: 5px;
    border: 1px solid #494949;
  }

  table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: separate;
    *border-collapse: collapse;
    border-left: 0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    display: table;
    text-align: center;

    caption {
      margin-bottom: 20px;
    }

    th,
    td {
      border-left: 1px solid #ddd;
      border-bottom: 1px solid #ddd;
      padding: 2px;
    }

    tr {
      display: table-row;
      vertical-align: inherit;
      border-color: inherit;
    }
  }
}
