.Filter {
  height: 40px;
  display: flex;
  align-items: center;
  position: relative;
  margin-bottom: 140px;
  form {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    padding-left: 20px;

    input,
    select {
      margin: 0 30px 0 10px;
      border: 1px solid #494949;
      height: 24px;
    }
    input {
      width: 120px;
      padding-left: 5px;
      border: 1px solid #494949;
    }
  }
  .Filter__btn {
    display: block;
    width: 75px;
    height: 26px;
    cursor: pointer;
    outline: none;
    color: #494949;
    text-transform: uppercase;
    text-decoration: none;
    background: #ffffff;
    border: 2px solid #494949 !important;
    transition: all 0.4s ease 0s;

    &:hover {
      color: #ffffff !important;
      background: #494949;
      border-color: #494949 !important;
      transition: all 0.4s ease 0s;
    }
  }
  .btn__filter {
    position: absolute;
    right: 35px;
    top: 8px;
  }
  .btn__clear {
    position: absolute;
    bottom: -30px;
    right: 35px;
  }
}

@media (max-width: 440px) {
  .Filter {
    margin: 40px 0;

    .btn__filter {
      top: 40px;
    }
    .btn__clear {
      left: 20px;
    }
  }
}
