.DataContent {
  width: 48%;
  min-height: 650px;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;

  .header {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    height: 54px;
    font-size: 2em;
    border-bottom: 2px solid gray;
    margin-bottom: 10px;
  }

  button {
    margin: 0 10px;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    i {
      font-size: 1.8em;
    }
  }
}
.icon__active {
  color: rgb(75, 192, 192);
}

.dataVisualization {
  margin-top: 60px;
}

.daysOptions {
  padding-left: 20px;

  select {
    margin: 0 5px;
  }
}

.chartOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .chartType {
    .title {
      margin-bottom: 5px;
      font-size: 1em;
      font-weight: normal;
    }
  }
}

@media (max-width: 930px) {
  .DataContent {
    width: 100%;
  }
}
